<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/backend.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"></script>
</head>
<body>

  <%- include('backend/partial/header') %>
        <h1 style="text-align: center;">TRANG CHỦ</h1> 
        

        <h2>Nội dung ADMIN</h2>
      </div>
  </div>  
</body>
<script src="/js/backendP.js"></script>
</html> 
