<div class="container main">
    <div class="text-f">Mua hàng online với nhiều ưu đãi hơn tại GEARVN</div>
    <div class="f-email">
      <input type="text" class="form-control" name="contact[email]" id="your_email" placeholder="Nhập email của bạn">
      <span class="input-group-btn">
        <button name="bt_submitemail" id="bt_submitemail" class="btn btn-default" type="submit">Đăng ký</button>
      </span>
  </div>
</div>
</div>
</div>

<div id="footer">
<div class="container">
<div id="user1" class="col-sm-4 col-xs-12">
    <div class="moduletable">
        <h3>Công ty TNHH Thương Mại GEARVN </h3>
        <div class="custom">
            <h3 class="title-footer-2">	Email: cskh@gearvn.com<br></h3>
            <p style="font-size: 14px"><b>HỆ THỐNG TỔNG ĐÀI MIỄN PHÍ:</b> (Làm việc từ 08h00 - 21h00)</p>
            <table style="width: 296px;">
                <tbody>
                    <tr>
                        <td style="width: 211px;">Gọi mua hàng</td>
                        <td style="width: 105px;"><strong>1800 6975</strong></td>
                    </tr>
                    <tr>
                        <td style="width: 211px;">Hỗ trợ khách hàng</td>
                        <td style="width: 105px;"><strong>1800 6173</strong></td>
                    </tr>
                </tbody>
            </table> 
              <div id="user1" class="col-sm-4 col-xs-12">
    <div class="moduletable">                          
    </div>
</div>
</div>
</div>

</div>

<button onclick="topFunction()" id="myBtnBackToTop" title="Go to top"><i class="fa fa-angle-up"></i></button>