<title> lam trang gearvn</title>
<meta charset="utf-8">
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/app.css">
<link rel="stylesheet" href="/css/detail.css">
<link rel="stylesheet" href="/css/login-register.css">
<link rel="stylesheet" href="/css/responsive.css">
<link rel="stylesheet" href="/css/menu.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1"> 